---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'research', text: 'Researches' },
  { depth: 2, slug: 'others', text: 'Others' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/the-lord-of-stars'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸ“™ UNNCAllRounder',
        description:
          'A UNNC ranking website',
        links: [
          { type: 'github', href: 'https://github.com/the-lord-of-stars/UNNC-CampusAllRounder' },
        ]
      },
      {
        name: 'ðŸ¤– Watsonx Assistant',
        description: 'A student AI chatbot',
        links: [
          { type: 'github', href: 'https://github.com/the-lord-of-stars/team32-project' },
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'ðŸ¦† Nock',
          description: 'Live2d project',
          links: [{ type: 'github', href: 'https://github.com/the-lord-of-stars/warehouse/tree/main/model/duck_model' }]
        },
        {
          name: 'ðŸ“‘ DATA&AI Quarto Template',
          description: 'Nottingham Quarto Template',
          links: [
            { type: 'github', href: 'https://github.com/the-lord-of-stars/Data-Analytics-and-AI-Curriculum-project' },
            { type: 'site', href: 'https://the-lord-of-stars.github.io/Data-Analytics-and-AI-Curriculum-project/'}
          ]
        }
      ]}
    />
  </Collapse>

  <h2 id='research'>Researches</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'ðŸ¤– AwesomeLit',
        description: 'Human AI collaboration on literature exploration',
        links: [
          {
            type: 'github',
            href: 'https://github.com/Vis4Sense/student-projects/tree/main/2025-2026/Zefei%20Xie'
          }
        ]
      },
      {
        name: 'ðŸ“ˆ Agentic Visualization',
        description: 'IEEE VIS 2025 GenxAI workshop challenge',
        links: [
          {
            type: 'github',
            href: 'https://github.com/Vis4Sense/agentic-vis-2025'
          },
          {
            type: 'site',
            href: 'https://vis4sense.github.io/agentic-vis-2025/'
          }
        ]
      }
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'warehouse',
        description: "qSTARp's warehouse",
        links: [{ type: 'github', href: 'https://github.com/the-lord-of-stars/warehouse' }]
      },
      {
        name: 'Blog',
        description: 'My old blog website',
        links: [
          { type: 'github', href: 'My old blog website' },
          { type: 'site', href: 'https://the-lord-of-stars.github.io/' }
        ]
      }
    ]}
  />

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      /** { name: 'C*aï¼ˆé…·å®‰@æš´èµ°ã®èœ—ç‰›ï¼‰', amount: '2.00', date: '2019-07-02' }, */
    ]}
  />
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
